---
import '../styles/style.css';
import EngineLoader from '../components/EngineLoader.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>sleepy-star</title>
  </head>
  <body>
    <EngineLoader />
  </body>
</html>