---
import '../styles/style.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>sleepy-star</title>
  </head>
  <body>
    <div class="canvas-scaler">
      <canvas id="myCanvas" width="512" height="342"></canvas>
    </div>
    <script type="module">
      import('/src/engine/main.js'); // Load your engine logic
    </script>
  </body>
</html>